# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakeLists.txt
*.txt.user

# .gitignore
*.swp
*~

# build file
build/
build-*
*/bin/
2-generate_pointcloud/bin
3-Feature_extraction_and_registration/bin
4-transform_pointcloud/bin
5-VO/bin
6-g2o/bin
7-loop_closing/bin
8-octomap/bin
# lib
1-hello_slam/lib

# g2o file
*.pcd
*.ot


